<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../assets/css/Global.css">
    <link rel="stylesheet" href="../../assets/css/pages/development-blog.css">
</head>
<body>
    <!-- ***** Development Blog Start ***** -->
    <section class="section top-section" id="dev_blog_header">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <h1><img src="../../assets/images/icons/computing.svg" alt=""> Development Blog</h1>
            </div>
        </div>

    </section>
    <!-- ***** Development Blog End ***** -->


    <section class="section" id="dev-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- ***** Left Nav Bar Start ***** -->
                    <div class="dev-navbar">
                        <div>Month</div>
                        <ul>
                            <li><a href="#nov" class="menu-item">November</a></li>
                            <li><a href="#dec" class="menu-item">December</a></li>
                        </ul>
                    </div>
                    <!-- ***** Left Nav Bar End ***** -->

                    <!-- ***** Dev Blog Start ***** -->
                    <div class="dev-blog">
                        <!-- nov 2020 -->
                        <div class="dev-blog-month" id="nov">
                            <div class="dev-blog-month-header"><img src="../../assets/images/icons/pen.svg" alt=""> November 2020</div>
                            <div class="blog-content">
                                <div>
                                    Lorem ipsum dolor sit amet, at euripidis ullamcorper eos, cum graeco inermis et. No
                                    invidunt phaedrum sed, nam an tantas molestie deserunt. Ad erat euripidis
                                    referrentur mei, ullum vituperatoribus ex qui. Habeo malorum qui ut. Vitae invidunt
                                    rationibus eum ea, nemore utroque referrentur ea vis.
                                </div>

                                <div>
                                    Clita neglegentur usu ei, paulo labore tractatos te per. Pro an aperiam fastidii,
                                    cum ad simul audiam utamur. Ei quaeque postulant abhorreant nam, duis habemus ei
                                    ius. Est oratio regione impedit ex, eu sed maluisset vituperatoribus. Ad posse
                                    detraxit mea, quo partiendo comprehensam et. Ea populo alienum nam.
                                </div>

                                <div>
                                    Vel eu delectus prodesset expetendis, ut timeam sapientem consequat mei. Ullum
                                    tollit dignissim cum ne, his te meliore alienum. Vim in quot perfecto liberavisse,
                                    cu eum deserunt nominati, nemore petentium ius ea. No accumsan signiferumque sit,
                                    erant vituperatoribus eum no, ad commodo suavitate vel. Eum in erat democritum,
                                    causae euismod ad qui, mei facilis molestiae democritum at.
                                </div>
                            </div>
                        </div>

                        <!-- dec 2020 -->
                        <div class="dev-blog-month" id="dec">
                            <div class="dev-blog-month-header"><img src="../../assets/images/icons/pen.svg" alt=""> December 2020</div>
                            <div class="blog-content">
                                <div>
                                    Lorem ipsum dolor sit amet, at euripidis ullamcorper eos, cum graeco inermis et. No
                                    invidunt phaedrum sed, nam an tantas molestie deserunt. Ad erat euripidis
                                    referrentur mei, ullum vituperatoribus ex qui. Habeo malorum qui ut. Vitae invidunt
                                    rationibus eum ea, nemore utroque referrentur ea vis.
                                </div>

                                <img class="image-content" src="../../assets/images/personas/Persona1.svg" alt="">

                                <div>
                                    Clita neglegentur usu ei, paulo labore tractatos te per. Pro an aperiam fastidii,
                                    cum ad simul audiam utamur. Ei quaeque postulant abhorreant nam, duis habemus ei
                                    ius. Est oratio regione impedit ex, eu sed maluisset vituperatoribus. Ad posse
                                    detraxit mea, quo partiendo comprehensam et. Ea populo alienum nam.
                                </div>

                                <div>
                                    Vel eu delectus prodesset expetendis, ut timeam sapientem consequat mei. Ullum
                                    tollit dignissim cum ne, his te meliore alienum. Vim in quot perfecto liberavisse,
                                    cu eum deserunt nominati, nemore petentium ius ea. No accumsan signiferumque sit,
                                    erant vituperatoribus eum no, ad commodo suavitate vel. Eum in erat democritum,
                                    causae euismod ad qui, mei facilis molestiae democritum at.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ***** Dev Blog End ***** -->
                </div>

            </div>
        </div>
    </section>
</body>
</html>