<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>

    <link rel="stylesheet" href="../../assets/css/Global.css">

    <link rel="stylesheet" href="../../assets/css/Footer.css">
</head>
<body>
    <footer class="footer-content">
        <div class="row">
            <div class="right-content">
                <h2>About Us</h2>
                <p>Phasellus dapibus urna vel lacus accumsan, iaculis eleifend leo auctor. Duis at finibus odio. Vivamus ut pharetra arcu, in porta metus. Suspendisse blandit pulvinar ligula ut elementum.
                </p>
                <ul class="social">
                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                </ul>
            </div>
            <div class="left-content">
                <h2>Site Menu</h2>
                <div class="container">
                    <div class="nav-list">
                        <div class="col-3"><a href="index.html">Home</a></div>
                        <div class="col-3"><a href="requirements.html">Requirement</a></div>
                        <div class="col-3"><a href="index.html">HCI</a></div>
                        <div class="col-3"><a href="index.html">Research</a></div>
                        <div class="col-3"><a href="index.html">Design</a></div>
                        <div class="col-3"><a href="index.html">Implementation</a></div>
                        <div class="col-3"><a href="index.html">Testing</a></div>
                        <div class="col-3"><a href="index.html">Evaluation</a></div>
                        <div class="col-3"><a href="index.html">Appendix</a></div>
                    </div>
                </div>

            </div>
        </div>
        <div class="sub-footer">
            <p>Copyright &copy; 2021 X5GON</p>
        </div>
    </footer>
    
</body>
</html>