<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>

    <link rel="stylesheet" href="../../assets/css/Global.css">

    <link rel="stylesheet" href="../../assets/css/Header.css">
</head>

<body>
    <header>
        <!-- ***** Logo Start ***** -->
        <a href="index.html" class="logo">
            <img src="../../assets/images/x5gon-icon.png" alt="X5GON">
        </a>
        <!-- ***** Logo End ***** -->
        <!-- ***** Menu Start ***** -->
        <ul class="menu" id="menu">
            <li class="submenu">
                <a class="mainlink" href="index.html">Home</a>
            </li>
            <li class="submenu">
                <a class="mainlink" href="requirements.html">Requirements</a>
            </li>

            <li class="submenu" class="submenu">
                <a class="mainlink" href="research.html">Research</a>
            </li>
            <li class="submenu" class="submenu">
                <a class="mainlink" href="design.html">Design</a>
            </li>
            <li class="submenu" class="submenu">
                <a class="mainlink" href="implementation.html">Implementation</a>
            </li>
            <li class="submenu" class="submenu">
                <a class="mainlink" href="testing.html">Testing</a>
            </li>
            <li class="submenu" class="submenu">
                <a class="mainlink" href="evaluation.html">Evaluation</a>
            </li>
            <li class="submenu" class="submenu">
                <a class="mainlink" href="appendix.html">Appendix</a>
            </li>
        </ul>
        <div class='menu-mobile'>
            <img id="menu-open" src="../../assets/images/icons/hamburger_menu.svg" alt="">
            <img id="menu-close" src="../../assets/images/icons/close.svg" alt="">
        </div>
        <!-- ***** Menu Start ***** -->
    </header>
</body>
<script language="javascript">
    // Script to open and close sidebar for mobile view
    function openSideBar() {
        document.getElementById("menu-open").style.display = "none";
        document.getElementById("menu-close").style.display = "block";
    }

    function closeSideBar() {
        document.getElementById("menu-open").style.display = "block";
        document.getElementById("menu-close").style.display = "none";
    }
</script>

</html>